@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Ubuntu";
        font-style: normal;
        font-display: swap;
    }
}

.btn {
    @apply rounded-lg px-4 py-2 transition-all ease-in-out
    font-semibold bg-gradient-to-r from-red-100 to-red-300 w-1/2 mx-auto;

    img {
        @apply h-6 w-auto mx-auto;
    }
}

.btn:hover {
    @apply shadow-lg;
}
